body,html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100vh;
  max-height: 600px;
  max-width: 600px;
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 20px;
  border: 1px solid black;
  font-family: "Courier New", monospace;
  font-weight: bold;
  overflow-y: auto;
  padding: 10px;
}
#wrapper:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f4f4f4;
}
#inputField {
  display: flex;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  overflow-y: auto;
  overflow-wrap: anywhere;
}
#inputField:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f4f4f4;
}
#inputArea {
  display: flex;
}
#messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  overflow-wrap: anywhere;
}
.cursor {
  display: inline-block;
  width: 0.5em;
  height: 1em;
  background-color: black;
  animation: blink 1s step-start 0s infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}