{% extends "base.html" %} {% block extrahead %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  #wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100vh;
    max-height: 600px;
	max-width: 600px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 20px;
    border: 1px solid black;
    font-family: "Courier New", monospace;
    font-weight: bold;
  }
  #wrapper:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f4f4f4;
  }
  #inputField {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-wrap: anywhere;
  }
  #inputField:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f4f4f4;
  }
  #inputArea {
    display: flex;
  }
  .blinking-cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: black;
    margin-left: 5px;
    animation: blink 1s step-end infinite;
    opacity: 1;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  #messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    overflow-y: auto;
    overflow-wrap: anywhere;
  }
</style>
{% endblock extrahead %} {% block content %}

<div id="wrapper" tabindex="0">
  <div id="messages"></div>
  <div id="inputArea">
    <span id="inputField">[Human]: </span><span class="blinking-cursor"></span>
  </div>
</div>
<script>
  const HUMAN_LABEL = "[Human]: ";
  const PITS_LABEL = "[Pits]: ";

  const getChatId = () => {
    const parsedUrl = new URL(window.location.href);
    const path = parsedUrl.pathname.endsWith("/")
      ? parsedUrl.pathname.slice(0, -1)
      : parsedUrl.pathname;
    return path.split("/").pop();
  };

  const appendMessage = (content, label, container) => {
    const newMessageNode = document.createElement("div");
    newMessageNode.textContent = label + content;
    container.appendChild(newMessageNode);
  };

  const fetchJson = async (url, options = {}) => {
    try {
      const response = await fetch(url, options);
      if (!response.ok) throw new Error("Network response was not ok");
      return await response.json();
    } catch (error) {
      console.error("There was a problem with the fetch operation:", error);
    }
  };

  const getMessages = async (chat_id) => {
    const data = await fetchJson(
      `http://localhost:8000/chat/${chat_id}/messages/`
    );
    if (data) {
      data.forEach((message) => {
        appendMessage(
          message.content,
          message.is_human ? HUMAN_LABEL : PITS_LABEL,
          messages
        );
      });
    }
  };

  const sendNewMessage = async (content, chat_id, isHuman) => {
    console.log(content);
    const postResponse = await fetchJson("http://localhost:8000/message/", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ content, chat: chat_id, is_human: isHuman }),
    });
    if (postResponse) {
      const data = await fetchJson(`http://localhost:8000/ai/${chat_id}/`);
      if (data) {
        appendMessage(data.content, PITS_LABEL, messages);
      }
    }
  };

  document.addEventListener("DOMContentLoaded", () => {
    const wrapper = document.getElementById("wrapper");
    const inputField = document.getElementById("inputField");
    const messages = document.getElementById("messages");
    const chat_id = getChatId();
    getMessages(chat_id);

    let currentText = "";
    let is_human = true;

    wrapper.addEventListener("keydown", (event) => {
      if (
        event.key.length > 1 &&
        event.key !== "Backspace" &&
        event.key !== "Enter"
      ) {
        event.preventDefault();
        return;
      }
      if (event.key === "Enter") {
        event.preventDefault();
        currentText = currentText.trim();
        if (currentText) {
          appendMessage(
            currentText,
            is_human ? HUMAN_LABEL : PITS_LABEL,
            messages
          );
          sendNewMessage(currentText, chat_id, is_human);
          currentText = "";
          inputField.textContent = "";
          is_human = !is_human;
        }
      } else if (
        event.key === "Backspace" &&
        !inputField.textContent.endsWith("\n")
      ) {
        inputField.textContent = inputField.textContent.slice(0, -1);
        currentText = currentText.slice(0, -1);
      } else if (event.key.length === 1) {
        inputField.textContent += event.key;
        currentText += event.key;
      }
    });
  });
</script>

{% endblock content %}
