{% extends "base.html" %} {% block extrahead %}
<style>
  body,
  html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  #wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100vh;
    max-height: 600px;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 20px;
    border: 1px solid black;
    font-family: "Courier New", monospace;
    font-weight: bold;
  }
  #wrapper:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f4f4f4;
  }
  #inputField {
    display: flex;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-wrap: anywhere;
  }
  #inputField:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #f4f4f4;
  }
  #inputArea {
    display: flex;
  }
  .blinking-cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: black;
    margin-left: 5px;
    animation: blink 1s step-end infinite;
    opacity: 1;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>
{% endblock extrahead %} {% block content %}

<div id="wrapper" tabindex="0">
  <div id="messages"></div>
  <div id="inputArea">
    <span id="inputField">[Human]: </span><span class="blinking-cursor"></span>
  </div>
</div>
<div>
  <h3>data</h3>
  <span id="data"></span>
</div>

<script>
  const HUMAN_LABEL = "[Human]: ";
  const PITS_LABEL = "[Pits]: ";
  const getChatId = () => {
	const parsedUrl = new URL(window.location.href);
	const path = parsedUrl.pathname.endsWith('/')
	  ? parsedUrl.pathname.slice(0, -1)
	  : parsedUrl.pathname;
	return path.split('/').pop();
  };

  const getMessages = (chat_id) => {
	const response = fetch(`http://localhost:8000/chat/${chat_id}/messages/`, {
	  method: "GET",
	})
	  .then((response) => response.json())
	  .then((data) => {
		console.log(data);
		data.forEach((message) => {
		  let newMessageNode = document.createElement("div");
		  newMessageNode.textContent = (message.is_human ? HUMAN_LABEL : PITS_LABEL) + message.content;
		  messages.appendChild(newMessageNode);
		});
	  });
  };
  
  let inputTexts = [];
  let currentText = "";
  let is_human = true;
  const wrapper = document.getElementById("wrapper");
  const inputField = document.getElementById("inputField");
  const inputArea = document.getElementById("inputArea");
  const data = document.getElementById("data");
  const messages = document.getElementById("messages");
  const chat_id = getChatId();
  getMessages(chat_id);

  wrapper.addEventListener("keydown", (event) => {
    if (
      event.key.length > 1 &&
      event.key !== "Backspace" &&
      event.key !== "Enter"
    ) {
      event.preventDefault();
      return;
    }
    if (event.key === "Enter") {
      let newMessageNode = document.createElement("div");
      currentText = currentText.trim();
      newMessageNode.textContent = HUMAN_LABEL + currentText;
      messages.appendChild(newMessageNode);
      inputTexts.push([is_human, currentText]);
	  sendNewMessage(currentText, chat_id);
      currentText = "";
      inputField.textContent = HUMAN_LABEL;
      data.textContent = JSON.stringify(inputTexts);
      is_human = !is_human;
      event.preventDefault();
    } else if (event.key === "Backspace") {
      if (!inputField.textContent.endsWith("\n")) {
        inputField.textContent = inputField.textContent.slice(0, -1);
        currentText = currentText.slice(0, -1);
      }
    } else if (event.key.length === 1) {
      inputField.textContent += event.key;
      currentText += event.key;
    }
  });

  const sendNewMessage = (content, chat_id) => {
	console.log(content);
    const response = fetch("http://localhost:8000/message/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ content, chat: chat_id, is_human: true }),
    })
      .then((response) => {
		response.json()
		.then(res => console.log(res));
	});
      /* .then((data) => {
        let newMessageNode = document.createElement("div");
        newMessageNode.textContent = "[Pits]: " + data.message;
        messages.appendChild(newMessageNode);
      });*/
  };
</script>
{% endblock content %}
