{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'chat.css' %}" /> 
{% endblock extrahead %}

{% block content %}
<div id="wrapper" tabindex="0">
  <div id="messages"></div>
  <div id="inputArea">
    <div id="inputField">
      <span id="textInput" class="human">[Human]: </span><span class="cursor"></span>
    </div>
  </div>
</div>
<div>
  Source code available at
  <a href="https://github.com/scilla/pits" target="_blank">https://github.com/scilla/pits</a>
</div>
<script> const CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="{% static 'chat.js' %}"></script>

{% endblock content %}
